grafana:
  enabled: false

prometheus:
  prometheusSpec:
    remoteWrite:
      - url: "${grafana_cloud_prometheus_url}"
        basic_auth:
          username: "${grafana_cloud_username}"
          password: "${grafana_cloud_api_key}"
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false